script(type="text/javascript").
    function loadJavaScript(file, onComplete) {
        var d = document, t = 'script',
                o = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
        o.src = file;
        if (onComplete) {
            o.addEventListener('load', function (e) {
                onComplete(null, e);
            }, false);
        }
        s.parentNode.insertBefore(o, s);
    };
    var loadScripts;
    loadScripts = function (scripts, done) {
        if (scripts.length) {
            var script = scripts.shift(), _scripts = scripts;
            loadJavaScript(script, function () {
                loadScripts(_scripts, done);
            });
            return;
        }
        done && done();
    };
    loadScripts(['js/jquery.js', 'js/underscore.js', 'js/backbone.js', 'js/backbone.marionette.js', 'js/templates.js', 'js/start.js']);
              