a(href='#database/new_database')
   button(class='btn btn-success h3')
      i(class='glyphicon glyphicon-plus glyphicon-white')
      span  create a new database reference


if nQ.data.databases.length
   h2
      i(class='glyphicon glyphicon-glyphicon-arrow-left glyphicon-white')
      | or select one from the list
