h3(class='col-xs-8') !{name}
button(class='btn btn-primary col-xs-2')
    i(class='glyphicon glyphicon-edit glyphicon-white')
    |  edit
button(class='btn btn-danger col-xs-2')
    i(class='glyphicon glyphicon-trash')
    |  delete